services:
  kafka:
    image: apache/kafka:4.3.1
    container_name: kafka
    hostname: kafka
    restart: unless-stopped
    mem_limit: 1400m
    environment:
      KAFKA_HEAP_OPTS: "-Xms256m -Xmx768m"
      KAFKA_NODE_ID: "1"
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:9093"
      KAFKA_LISTENERS: "PLAINTEXT://:9092,CONTROLLER://:9093"
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://kafka:9092"
      KAFKA_INTER_BROKER_LISTENER_NAME: "PLAINTEXT"
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: "1"
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: "1"
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: "1"
      KAFKA_SHARE_COORDINATOR_STATE_TOPIC_REPLICATION_FACTOR: "1"
      KAFKA_SHARE_COORDINATOR_STATE_TOPIC_MIN_ISR: "1"
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: "0"
      KAFKA_NUM_PARTITIONS: "1"
      KAFKA_LOG_DIRS: "/var/lib/kafka/data"
      CLUSTER_ID: "4L6g3nShT-eMCtK--X86sw"
    volumes:
      - kafka_data:/var/lib/kafka/data
    networks:
      - appnet

  kafka-ui:
    image: ghcr.io/kafbat/kafka-ui:v1.5.0
    container_name: kafka-ui
    restart: unless-stopped
    mem_limit: 900m
    depends_on:
      - kafka
    ports:
      - "0.0.0.0:8080:8080"
    environment:
      JAVA_OPTS: "-Xms128m -Xmx512m -Djavax.net.ssl.trustStore=/opt/cert/keycloak-truststore.p12 -Djavax.net.ssl.trustStorePassword=changeit -Djavax.net.ssl.trustStoreType=PKCS12"
      TRUST_STORE: "/opt/cert/keycloak-truststore.p12"
      TRUST_STORE_PASSWORD: "changeit"
      "SPRING_CONFIG_ADDITIONAL-LOCATION": "/config.yml"
    volumes:
      - ./kafka-ui.yml:/config.yml:ro
      - ./tls/keycloak-truststore.p12:/opt/cert/keycloak-truststore.p12:ro
    networks:
      - appnet

networks:
  appnet:
    name: kafka-appnet

volumes:
  kafka_data:
